<%= form_for :reading, url: readings_path do |f| %>

  <div class="form-group">
    <%= f.label :glucose_level %><br>
    <%= f.text_field :glucose_level, class: 'form-control', autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to "Cancel", root_path, class: 'btn btn-default'  %>
  </div>
<% end %>