<h4><strong>Blood Glucose Level Report</strong></h4>
<br />
<p>Average: <%=  %></p>
<p>Maximum: <%=  %></p>
<p>Minimum: <%=  %></p>

<%= details(@report) %>

<p><%= link_to "Back", :back, class: 'btn btn-default'  %></p>